OP_GETH_LOCAL_DIRECTORY=
OP_RETH_LOCAL_DIRECTORY=
OP_GETH_BRANCH=
OP_RETH_BRANCH=
SKIP_OP_STACK_BUILD=false
SKIP_OP_CONTRACTS_BUILD=false
SKIP_OP_GETH_BUILD=false
SKIP_OP_RETH_BUILD=true
SKIP_BUILD_PRESTATE=false

OP_GETH_IMAGE_TAG=op-geth:latest
OP_RETH_IMAGE_TAG=op-reth:latest
OP_STACK_IMAGE_TAG=op-stack:latest
OP_CONTRACTS_IMAGE_TAG=op-contracts:latest

# only support `geth` or `reth`
SEQ_TYPE=geth
RPC_TYPE=geth

DOCKER_NETWORK=dev-op
CONFIG_DIR=config-op

CHAIN_ID=196

RICH_L1_PRIVATE_KEY=0x4bbbf85ce3377467afe5d46f804f221813b2bb87f24d81f60f1fcdbf7cbf4356

L1_RPC_URL=http://localhost:8545
L2_RPC_URL=http://localhost:8124
L1_RPC_URL_IN_DOCKER=http://l1-geth:8545
L2_RPC_URL_IN_DOCKER=http://op-$SEQ_TYPE-seq:8545
L1_BEACON_URL_IN_DOCKER=http://l1-beacon-chain:3500

SAFE_ADDRESS=0x0000000000000000000000000000000000000000
TRANSACTOR=0x0000000000000000000000000000000000000000

DEPLOYER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
SEQUENCER_P2P_KEY=0x8b3a350cf5c34c9194ca85829a2df0ec3153be0318b5e2d3348e872092edffba
OP_BATCHER_PRIVATE_KEY=0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a
OP_PROPOSER_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
OP_CHALLENGER_PRIVATE_KEY=0x8b3a350cf5c34c9194ca9aa3f146b2b9afed22cd83d3c5f6a3f2f243ce220c01

L2OO_ADDRESS=0x0000000000000000000000000000000000000000
DISPUTE_GAME_FACTORY_ADDRESS=0x9fb19f214e8ec1c84c25eb954183bdd6b8d5032e
ADMIN_OWNER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
OPCM_IMPL_ADDRESS=0xd5ea6d3f520eac42f989019a8d3c51a123e73113
SYSTEM_CONFIG_PROXY_ADDRESS=0x330cff9f99a75bc9c71750b5c60fdc0eff1789e1
PROXY_ADMIN=0x922d6956c99e12dfeb3224dea977d0939758a1fe
PROPOSER_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8
OPTIMISM_PORTAL_PROXY_ADDRESS=0xc8e8b7b181db301f27aef90ed285787a3ce179e9
# For testing, Adapter owner is the deployer
OKB_ADAPTER_OWNER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# OKB Token Address on L1. If not set, a new MockOKB will be deployed.
OKB_TOKEN_ADDRESS=

# First game only for update anchor root
TEMP_MAX_CLOCK_DURATION=40
TEMP_CLOCK_EXTENSION=5
TEMP_GAME_WINDOW=60

# Game config
MAX_CLOCK_DURATION=20
CLOCK_EXTENSION=10
GAME_WINDOW=60

# AnchorStateRegistry configure
DISPUTE_GAME_FINALITY_DELAY_SECONDS=5

# PreimageOracle configure
CHALLENGE_PERIOD_SECONDS=10

# WETH configure
WITHDRAWAL_DELAY_SECONDS=$MAX_CLOCK_DURATION

# TODO: use real fork block and parent hash in xlayer erigon
FORK_BLOCK=8593920
PARENT_HASH="0x6912fea590fd46ca6a63ec02c6733f6ffb942b84cdf86f7894c21e1757a1f68a"
NEW_BLOCK_HASH=0xddb9bdc86631494bab4b4749c4575035e2383da7c96d32d31341de862b1dd6c9

DB_ENGINE="pebble"

CONDUCTOR_ENABLED=true
LAUNCH_RPC_NODE=true

# Trusted peers enode url configurations for the shared private sequencer txpool
TRUSTED_PEERS=

OWNER_TYPE=transactor # safe
