.DS_Store
node_modules
results
temp
coverage.json
**/lcov.info
**/lcov-upgrade.info
**/lcov-all.info

yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

dist
artifacts
cache

!op-chain-ops/foundry/testdata/srcmaps/cache
!op-chain-ops/foundry/testdata/srcmaps/artifacts

!op-deployer/pkg/deployer/artifacts

packages/contracts-bedrock/deployments/anvil

# vim
*.sw*

# jetbrains
.idea/

# vscode
.vscode/

.secrets
.env
.env*
!.env.example
!.envrc.example
*.log

.devnet*

# Ignore local fuzzing results
**/testdata/fuzz/

coverage.out

__pycache__

# Ignore echidna artifacts
crytic-export

# Ignore test files
test/l1-geth/consensus/beacondata
test/l1-geth/consensus/validatordata
test/config-op/genesis.json
test/config-op/genesis-reth.json
test/config-op/genesis.json.gz
test/config-op/genesis-reth.json
test/config-op/gen.test.geth.rpc.config.toml
test/config-op/gen.test.reth.rpc.config.toml
test/config-op/implementations.json
test/config-op/intent.toml
test/config-op/rollup.json
test/config-op/state.json
test/config-op/superchain.json
test/l1-geth/consensus/genesis.ssz
test/l1-geth/execution/geth/genesis.json
test/l1-geth/execution/geth
test/data
test/saved-cannon-data

# ignore local asdf config
.tool-versions
test/l1-geth/execution/genesis.json
test/tmp
test-pp-op/testnet.env
test-pp-op/mainnet.env
test-pp-op/fakemainnet.env

.tool-versions
